footer{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 10px;
    div{
        h2{
            color: nth($colores, 1);
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            font-style: italic;
            font-size:nth($font-sizes, 4);
            text-align: center;
        }
    }
    div{
        a{
            img{
                height: 50px;
                width: 50px;
                transition: 1s;
                &:hover{
                    transform: scale(1.2);
                }}
                }
                } 
                
            }
        
