header {
    h1 {
        color: nth($colores, 1);
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-style: italic;
        font-size: nth($font-sizes , 6);
        text-align: center;
    }

    .barra-inicio {
        ul {
            display: flex;
            justify-content: center;
            justify-content: space-evenly;
            list-style: none;

            li {
                margin: 15px;

                a {
                    @include enlace;
                    color: nth($colores, 1);
                    font-size: nth($font-sizes, 2);
                    transition-property: color;
                    transition-duration: 0.5s;
                    transition-timing-function: ease-in;
                        &:hover{
                            color: nth($colores, 2);
                        }
                        
                    }
                }
            }
        }
    }
